.DS_Store
*.iml
.idea
/scp-*/build
/scp-*/target
/scp-*/.gradle
/scp-*/.project
/scp-*/.settings
/scp-*/.classpath
/scp-*/.factorypath
/scp-*/src/main/resources/bootstrap-local.yml
/scp-*/src/test/resources/bootstrap-local.yml
/scp-*/src/main/resources/application-local.yml
/scp-*/src/test/resources/application-local.yml
