<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.tiscs.scp.mappers.UserMapper">
    <select id="find" resultType="User">
        SELECT "id", "name" FROM "public"."users" ORDER BY "id" ASC
    </select>
    <select id="findOne" resultType="User">
        SELECT "id", "name" FROM "public"."users" WHERE "id" = #{id}
    </select>
</mapper>