<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" data-th-href="@{/redoc-32x32.png}" sizes="32x32"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <title>API Docs</title>
</head>

<body>
<redoc data-th-spec-url="@{/v3/api-docs}"></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
</body>

</html>