<!DOCTYPE html>
<html lang="en">
<!--/*@thymesVar id="authorizationRequest" type="org.springframework.security.oauth2.provider.AuthorizationRequest"*/-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css"/>
    <title>Authorize</title>
</head>

<body>
<section class="section">
    <div class="container">
        <h1 class="title">Authorize</h1>
        <article class="message is-info">
            <div class="message-body" data-th-inline="text">
                Do you authorize "[(${authorizationRequest.clientId})]" at
                <a data-th-href="${authorizationRequest.redirectUri}">[(${authorizationRequest.redirectUri})]</a>
                to access your protected resources?
            </div>
        </article>
        <form role="form" data-th-action="@{/oauth/authorize}" method="POST">
            <div class="field" data-th-each="scope:${authorizationRequest.scope}">
                <div class="control" data-th-inline="text">
                    <label data-th-for="${scope + '.approve'}" class="label">[(${scope})]</label>
                    <label class="radio">
                        <input type="radio" data-th-id="${scope + '.approve'}" data-th-name="${'scope.' + scope}" value="true" checked /> Approve
                    </label>
                    <label class="radio">
                        <input type="radio" data-th-id="${scope + '.deny'}" data-th-name="${'scope.' + scope}" value="false"/> Deny
                    </label>
                </div>
            </div>
            <input name="user_oauth_approval" value="true" type="hidden"/>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>

</html>
