<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
    <title>Logout</title>
</head>

<body>
<div class="container">
    <div class="page-header">
        <h1>Logout</h1>
    </div>
    <form role="form" data-th-action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
</body>

</html>
